.c1 {

    position: relative;
    top: 50px;
    left: 100px;
    background-color: rgb(174, 172, 172);
    width: 650px;
    height: 350px;
    border-radius: 10px;
}

.c1 td {
    padding: 20px;
}

.c1 * {
    padding: 5px;
    margin: 10px;
}

.c1 img {

    width: 200px;
    height: 200px;
}

.s1 {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(216, 216, 26);
    color: blue;
    width: 100px;
    border: 1px;
    
}

.s1:hover {
    background-color: rgb(229, 247, 148);
}

progress {

    margin-left: 60px;
    
}


label {
    margin-left: 10px;
}

.details {

    position: relative;
    top:-200px;
    left: 250px;
}